*.pyc
.DS_Store

*.mha
*.dict
*.mat
*.out
*.json
*.txt
*.text
x_random*.pkl
dictionary_phi*.npy
mrf_dictconf*
mrf_sequence*
meas*

wandb/*
optims/*
notebooks/*
data/*
plots/
work/
dicts/
datasets/
images/
volumes/
simulations
/mrf_sequence_adjusted_optimized_M0_T1_local_optim_correl_crlb_filter_sp760_optimized_DE_Simu_FF_random_FA_v2.json
